:root {
  /* Palet Warna Utama */
  --bg-darker: #0f0f0f; /* Background layar */
  --bg-card: #1a1a1a; /* Background kotak/sidebar */
  --bg-input: #0a0a0a; /* Background input/field */
  --accent: #0dcaf0; /* Cyan Zirocraft */
  --accent-glow: rgba(13, 202, 240, 0.2);
  --border: #2a2a2a; /* Warna garis tepi */
  --text-main: #ffffff;
  --text-muted: #888888;

  /* Ukuran Standar */
  --radius: 12px;
  --transition: all 0.3s ease;
}

body {
  margin: 0;
  background-color: var(--bg-darker);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Scrollbar Global biar gak ngerusak pemandangan */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

/* Class Utility buat Judul (Pake di semua halaman) */
.ziro-title {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-left: 5px solid var(--accent);
  padding-left: 15px;
  margin-bottom: 25px;
  color: var(--text-main);
}
